docling==2.66.0
docling-core==2.58.0
fastapi==0.128.0
google-generativeai==0.8.6
pydantic==2.12.5
python-dotenv==1.2.1
python-multipart==0.0.21
qdrant-client==1.16.2
sentence-transformers==5.2.0
supabase==2.27.1
uvicorn==0.40.0